body {
    margin: 0;

    background-color: #0E0E10;
    color: whitesmoke;

    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1 {
    padding: 6pt;
    font-size: 24pt;
}

h2, h3 {
    padding: 12pt;
}



#header {
    position: fixed;
    width: 100%;
    z-index: 100;
}

#header div {
    display: block;
    position: relative;
    backdrop-filter: blur(16pt) brightness(50%);
    text-align: center;
}

#footer {
    height: 42pt;
    backdrop-filter: blur(16pt) brightness(50%);
    text-align: center;
}

#logo {
    display: block;
    width: 33vw;
    height: 33vw;
    max-width: 300px;
    max-height: 300px;
    border-radius: 16pt;
    margin-top: 32pt;
    margin-bottom: 32pt;
    background-image: url("../images/metra.png");
    background-size: cover;
}

.content {
    padding-top: 42pt;
    padding-bottom: 42pt;
    min-height: calc(100vh - 126pt);
}

.bg {
    position: fixed;
    background-image: url("../images/nice.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    background-size: cover;
    filter: blur(1.5vh);
    width: 100%;
    height: 100%;
    z-index: -100;
}



.nav {
    list-style-type: none;
    padding: 0;
    width: 75vw;
    max-width: 600px;
    border-radius: 16pt;
    backdrop-filter: blur(16pt) brightness(50%);
}

.nav li a {
    display: block;
    padding: 16pt;
    color: white;
    text-decoration: none;
}

.nav li a.top {
    border-top-left-radius: 16pt;
    border-top-right-radius: 16pt;
}

.nav li a.bottom {
    border-bottom-left-radius: 16pt;
    border-bottom-right-radius: 16pt;
}

.nav li a.single {
    border-radius: 16pt;
}

.nav li a:hover {
    background-color: #ffffff25;
}

.centred {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.padded {
    padding: 16pt;
    max-width: 100%;
}

.borderbox {
    box-sizing: border-box;
}

.hpadded {
    padding-left: 16pt;
    padding-right: 16pt;
    max-width: 100%;
}

.card {
    display: block;
    position: relative;
    width: 75vw;
    max-width: 600px;
    border-radius: 16pt;
    text-align: center;
    backdrop-filter: blur(16pt) brightness(50%);
}

.soundcloud {
    display: inline-block;
    width: 250px;
    max-width: 100%;
    aspect-ratio: 1;
}

.spotify {
    width: 300px;
    max-width: 100%;
    height: 80px;
}

.shadow {
    box-shadow: 0 3pt 6pt 0 rgba(0, 0, 0, 0.2);
}

.textshadow {
    text-shadow: 0 0 6pt black
}

.shadowup {
    box-shadow: 0 -3pt 6pt 0 rgba(0, 0, 0, 0.2);
}